// ----------------------------
// VARIABLES
// ----------------------------
$maincolor: black;
$contrastcolor: white;

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-text-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

// -----------------------------
// Header
// -----------------------------

nav {
  @include white-text-black-bg;
  display: flex;
  justify-content: flex-start;

  a {
    @include white-text-black-bg;
    margin: 10px;
    font-size: large;
  }
}

// -----------------------------
// Cheeses Section
// -----------------------------

// Container for the cheeses grid
.cheeses-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // Two columns with equal width
  gap: 20px; // Space between the cheeses
}

// Individual cheese item
.chai {
  @include white-text-black-bg;
  padding: 20px;
  border-radius: 5px;
  text-align: center;

  h1 {
    font-size: 1.5rem;
  }

  img {
    width: 100%; // To ensure the images have the same width
    height: auto; // Maintain aspect ratio
    max-height: 200px; // Adjust the height based on your preference
    object-fit: contain; // Display the entire image without cropping
    border-radius: 5px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 1rem;
    margin-bottom: 5px;
  }
}