// ----------------------------
// VARIABLES
// ----------------------------
$maincolor: black;
$contrastcolor: white;

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-text-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

// -----------------------------
// Header
// -----------------------------

nav {
  @include white-text-black-bg;
  display: flex;
  justify-content: flex-start;

  a {
    @include white-text-black-bg;
    margin: 10px;
    font-size: large;
  }
}


.cheeses-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
}


.chai {
  @include white-text-black-bg;
  padding: 20px;
  border-radius: 5px;
  text-align: center;

  h1 {
    font-size: 1.5rem;
  }

  img {
    width: 100%; 
    height: auto; 
    max-height: 200px; 
    object-fit: contain; 
    border-radius: 5px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 1rem;
    margin-bottom: 5px;
  }
}